includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    tmpDir: var/phpstan
