includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src/Type
        - src/TypeComparator
        - src/TypeStringifier
        - tests/TypeComparator
        - tests/TypeStringifier
    checkGenericClassInNonGenericObjectType: false
    tmpDir: var/phpstan
    ignoreErrors:
        - { identifier: return.unusedType }
