<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="tools/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="var/phpunit"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="main">
            <directory>tests</directory>
            <exclude>tests/Reflection/Internal/NativeAdapter/AdapterCompatibilityTest.php</exclude>
        </testsuite>

        <testsuite name="compatibility">
            <file>tests/Reflection/Internal/NativeAdapter/AdapterCompatibilityTest.php</file>
        </testsuite>

        <testsuite name="ChangeDetector">
            <directory>tests/ChangeDetector</directory>
        </testsuite>

        <testsuite name="TypedMap">
            <directory>tests/TypedMap</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
