<?xml version="1.0"?>
<psalm
    cacheDirectory="var/psalm"
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    disableSuppressAll="true"
    ensureArrayStringOffsetsExist="true"
    errorLevel="1"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
    findUnusedVariablesAndParams="true"
    memoizeMethodCallResults="true"
    reportMixedIssues="true"
    sealAllMethods="true"
    sealAllProperties="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <enableExtensions>
        <extension name="random"/>
    </enableExtensions>

    <projectFiles>
        <directory name="dev"/>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name="tests/Reflection/NameContext/functional"/>
            <directory name="tests/Reflection/Fixtures"/>
            <directory name="var"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Typhoon\Psalm\CheckVisibilityPlugin"/>
    </plugins>

    <ignoreExceptions>
        <classAndDescendants name="ReflectionException"/>
        <classAndDescendants name="LogicException"/>
        <classAndDescendants name="RuntimeException"/>
        <classAndDescendants name="Psr\SimpleCache\InvalidArgumentException"/>
    </ignoreExceptions>

    <issueHandlers>
        <PluginIssue name="UnspecifiedVisibility">
            <errorLevel type="suppress">
                <directory name="dev"/>
                <directory name="tests"/>
            </errorLevel>
        </PluginIssue>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <referencedFunction name="ReflectionClass::__construct"/>
            </errorLevel>
        </ArgumentTypeCoercion>
        <ImpureMethodCall>
            <errorLevel type="suppress">
                <directory name="src/Type"/>
            </errorLevel>
        </ImpureMethodCall>
        <UnusedConstructor errorLevel="suppress"/>
        <MissingImmutableAnnotation errorLevel="suppress"/>
        <MissingThrowsDocblock>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MissingThrowsDocblock>
        <MixedAssignment errorLevel="suppress"/>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PossiblyUnusedMethod>
    </issueHandlers>

    <forbiddenFunctions>
        <function name="dd"/>
        <function name="die"/>
        <function name="dump"/>
        <function name="echo"/>
        <function name="empty"/>
        <function name="eval"/>
        <function name="exit"/>
        <function name="print"/>
        <function name="sleep"/>
        <function name="usleep"/>
    </forbiddenFunctions>

    <stubs>
        <file name="tests/Reflection/Fixtures/classes.php" preloadClasses="true"/>
        <file name="tests/Reflection/Fixtures/classes_php82.php" preloadClasses="true"/>
        <file name="stubs/PhpParser/Node/Expr/Variable.phpstub"/>
        <file name="stubs/PhpParser/Node/Identifier.phpstub"/>
        <file name="stubs/PhpParser/Node/IntersectionType.phpstub"/>
        <file name="stubs/PhpParser/Node/Name.phpstub"/>
        <file name="stubs/PhpParser/Node/Stmt/TraitUseAdaptation/Alias.phpstub"/>
        <file name="stubs/PhpParser/Node/UnionType.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/ConstExpr/ConstFetchNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/PhpDoc/PhpDocTagNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/PhpDoc/TemplateTagValueNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/PhpDoc/TypeAliasImportTagValueNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/PhpDoc/TypeAliasTagValueNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/Type/CallableTypeNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/Type/GenericTypeNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/Type/IdentifierTypeNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/Type/IntersectionTypeNode.phpstub"/>
        <file name="stubs/PHPStan/PhpDocParser/Ast/Type/UnionTypeNode.phpstub"/>
    </stubs>
</psalm>
